.country {
  text-align: center;
  width: 230px;
  height: 260px;
  padding: 10px;
  margin: 10px;
  color: rgb(255, 255, 255);
  box-shadow: -2px 4px 4px 0 rgba(24, 13, 1, 0.633);
  transition: 0.3s;
  background-color: #2e4a7fb1;
  border-radius: 15px;
  filter: opacity(70%);
  transition: 0.3s;
}
.countrydetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.country:hover {
  filter: none;
  transition: 0.3s;
}
.country img {
  width: 92%;
  height: 150px;
  transition: 0.7s;
}
.country img:hover {
  width: 98%;
  height: 150px;
  transition: 0.7s;
}

.flag {
  align-self: center;
  border-radius: 15px;
  margin-top: 10px;
}
.countryLink {
  text-decoration: none; /* saco el subrayado del link */
}
#nameCountry {
  color: rgb(253, 253, 251);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  width: 100%;
  margin-bottom: 0px;
  transition: 0.5s;
}
#nameCountry:hover {
  color: #00ccffe5;
  transition: 0.5s;
}

#titleContinent {
  color: rgb(166, 166, 165);
  font-size: 15px;
  text-decoration-line: underline;
}
#nameContinent {
  color: silver;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  margin: 0px;
}
.containerCont {
  background-color: none;
  margin: 0px;
}
