.country {
  text-align: center;
  width: 230px;
  height: 260px;
  padding: 10px;
  margin: 10px;
  color: rgb(255, 255, 255);
  box-shadow: -2px 4px 4px 0 rgba(24, 13, 1, 0.633);
  transition: 0.3s;
  background-color: rgba(66, 44, 18, 0.489);
  border-radius: 15px;
  filter: opacity(70%);
  transition: 0.3s;
}

.country:hover {
  filter: none;
  transition: 0.3s;
}
.country img {
  width: 95%;
  height: 150px;
  transition: 0.3s;
}
.country img:hover {
  width: 100%;
  height: 150px;
  transition: 0.3s;
}

.flag {
  align-self: center;
  border-radius: 15px;
  margin-top: 10px;
}
.countryLink {
  text-decoration: none; /* saco el subrayado del link */
}
#nameCountry {
  color: rgb(253, 253, 251);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  width: 100%;
  margin-bottom: 0px;
}
#nameCountry:hover {
  color: rgb(250, 250, 7);
}

#titleContinent {
  color: rgb(166, 166, 165);
  font-size: 15px;
  text-decoration-line: underline;
}
#nameContinent {
  color: silver;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  margin: 0px;
}
.containerCont {
  background-color: none;
  margin: 0px;
}
