/*****CONTAINERS+++++*/
.containerA {
  border: none;
  height: 100vh;
}
.containerB1 {
  width: 100%;
  display: flex;
  justify-content: center; /*Centro la tarjeta*/
}
.containerC1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; /*toda la info centrada*/
  background: linear-gradient(
    90deg,
    rgba(25, 25, 25, 0.9) 0%,
    rgba(111, 113, 124, 0.9) 20%,
    rgba(111, 113, 124, 0.9) 80%,
    rgba(25, 25, 25, 0.9) 100%
  );
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 67%;
  backdrop-filter: blur(1px);
}
.containerD1 {
  width: 100%;
  color: white;
}
.containerE1,
.containerActC1 {
  border-bottom: 2px solid white;
  padding-bottom: 7px;
  margin-bottom: 5px;
  border-color: silver;
  border-bottom-style: groove;
  color: rgba(245, 245, 245, 0.8);
  font-size: 16px;
  font-weight: none;
  letter-spacing: 0.7px;
}
.containerF1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.containerActA1 {
  display: flex;
  justify-content: center;
}
.containerActB1 {
  width: 100%;
}
.containerListAct {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px 10px;
  margin: 10px;
  color: rgba(245, 245, 245, 0.8);
  font-size: 16px;
  font-weight: none;
  letter-spacing: 0.7px;
}
.noActivities {
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  margin: 5px;
  border-radius: 10px;
  border: 1px solid silver;
  background-color: #2e4a7fda;
}
.containerListActEach {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px;
  border-radius: 10px;
  border: 1px solid silver;
  background-color: #2e4a7fda;
}

/*****TITULOS****+*/
#countryTitle {
  font-size: 35px;
  font-weight: bolder;
  margin-top: 10px;
  color: hsla(184, 93%, 50%, 0.9);
  text-shadow: rgb(68, 68, 68, 0.5) 2px 2px 0px,
    1px 2px 8px rgba(46, 44, 44, 0.67);
}
#activityTitle {
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0px;
  color: hsla(184, 93%, 50%, 0.9);
  text-shadow: rgb(68, 68, 68, 0.5) 2px 2px 0px,
    1px 2px 8px rgba(46, 44, 44, 0.67);
}
#activityName {
  color: whitesmoke;
  font-size: 16px;
  font-weight: bolder;
  font-family: Posterama Text, sans-serif;
  padding: 5px;
  padding-bottom: 0px;
  margin: 0px;
}

/*****ELEMENTOS****+*/
.flag {
  width: 310px;
  height: 200px;
  border-radius: 20px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  transition: 0.7s;
  opacity: 0.8;
  -webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.35);
}
.flag:hover {
  opacity: 1;
  transition: 0.7s;
}
.refLevels {
  font-size: 14px;
  color: silver;
  font-family: Posterama Text, sans-serif;
}

.containerCharact {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-color: #2e4a7fda;
  border-radius: 10px;
  border: 1px solid silver;
  margin: 10px;
  -webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.35);
  color: rgba(245, 245, 245, 0.8);
  font-size: 15px;
  font-weight: none;
  letter-spacing: 0.7px;
}

.containerCharactCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3px;
  border-top: 1px solid silver;
  margin-right: 15px;
  margin-left: 15px;
}
.containerCharactFirst {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 3px;
  border: none;
  margin-right: 15px;
  margin-left: 15px;
}
.containerCharactLast {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 3px;
  border-top: 1px solid silver;
  margin-right: 15px;
  margin-left: 15px;
}

.containerCharactCenter p,
.containerCharactFirst p,
.containerCharactLast p {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.containerCharactCenter p:first-child,
.containerCharactFirst p:first-child,
.containerCharactLast p:first-child {
  text-decoration: underline;
  color: silver;
  width: 85px;
  margin: 2px;
}

.containerCharactCenter p:last-child,
.containerCharactFirst p:last-child,
.containerCharactLast p:last-child {
  color: #00e5ff;
  width: 220px;
  margin: 2px;
  padding-left: 8px;
}

.containerActivity {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid silver;
  margin: 8px;
}

.containerActivityCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3px;
  border-top: 1px solid silver;
  margin-right: 10px;
  margin-left: 10px;
  text-align: left;
}
.containerActivityFirst {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 3px;
  border: none;
  margin-right: 10px;
  margin-left: 10px;
}
.containerActivityLast {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 3px;
  border-top: 1px solid silver;
  margin-right: 10px;
  margin-left: 10px;
}

.containerActivityCenter p:first-child,
.containerActivityFirst p:first-child,
.containerActivityLast p:first-child {
  text-decoration: underline;
  color: silver;
  width: 75px;
  margin: 2px;
  text-align: left;
}

.containerActivityCenter p:last-child,
.containerActivityFirst p:last-child,
.containerActivityLast p:last-child {
  color: #00e5ff;
  width: 100px;
  margin: 2px;
  text-align: left;
  padding-left: 8px;
}
