.countryContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 0px 20px 0px 20px;
  width: 100%;
  background: rgb(72, 70, 107);
  border-radius: 0 0 20px 20px;
  /* background: linear-gradient(
    180deg,
    rgba(20, 20, 20, 0.20772058823529416) 10%,
    rgba(12, 90, 57, 0.76) 50%
  ); */
}

.countrySpace {
  display: flex;
  justify-content: flex-end;
}

.paginatorSpace {
  display: flex;
  justify-content: flex-end;
}

.paginatorContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgb(72, 70, 107);
  width: 100%;
  margin: 0px 20px 0px 20px;
  border-radius: 0px 0px 0px 0px;
}

.paginatorContainer button {
  background-color: #1b2d4e00;
  border: none;
  color: #ffffff;
}
#pag {
  cursor: pointer;
}

.consola {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px 20px 0px 20px;
  background: rgb(72, 70, 107);
  border-radius: 20px 20px 0px 0px;
  position: relative;
  top: 0%;
}

.filtro {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgb(72, 70, 107);
  margin: 20px;
}

.filter {
  background-color: #2e4a7fda;
  color: #00ccffe5;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.input {
  background-color: #e2e7f3da;
  color: #262424e5;
  border-radius: 10px 0px 0px 10px;
  border: none;
  margin: 0px;
  padding: 10px 0px 10px 10px;
}
.search {
  background-color: #2e4a7fda;
  color: #00ccffe5;
  border-radius: 0px 10px 10px 0px;
  border: none;
  margin: 0px;
  padding: 10px 10px 10px 0px;
  cursor: pointer;
  transition: 0.3s;
}

.search:hover {
  background-color: #00ccffe5;
  color: #2e4a7fda;
  border-radius: 0px 10px 10px 0px;
  border: none;
  margin: 0px;
  padding: 10px 10px 10px 0px;
  cursor: pointer;
  transition: 0.3s;
}
