.wallpaperHome {
  background-image: url("../assests/LandingA.jpg");
  background-size: 100%; /* contain, cover,auto;*/
  background-position: 100%;
  background-position: center;
  background-repeat: repeat;
  min-height: 100vh;
  height: 100%;
}
.countrySpace {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 0px;
}
.countryContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  margin: 0px 20px 0px 20px;
  width: 100%;
  border-radius: 0 0 20px 20px;
  backdrop-filter: blur(1px);
  background: linear-gradient(
    90deg,
    rgba(25, 25, 25, 0.9) 0%,
    rgba(111, 113, 124, 0.9) 20%,
    rgba(111, 113, 124, 0.9) 80%,
    rgba(25, 25, 25, 0.9) 100%
  );
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.paginatorSpace {
  display: flex;
  justify-content: flex-end;
}

.paginatorContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgba(25, 25, 25, 0.9) 0%,
    rgba(111, 113, 124, 0.9) 20%,
    rgba(111, 113, 124, 0.9) 80%,
    rgba(25, 25, 25, 0.9) 100%
  );
  width: 100%;
  margin: 0px 20px 0px 20px;
  border-radius: 0px 0px 0px 0px;
  backdrop-filter: blur(1px);
  color: rgba(245, 245, 245, 0.8);
  font-size: 12px;
  font-weight: none;
  letter-spacing: 0.7px;
}

.paginatorContainer button {
  background-color: #1b2d4e00;
  border: none;
  color: rgba(245, 245, 245, 0.8);
}

.paginatorBorder {
  border-radius: 10px;
  border: 2px solid gray;
  border-style: groove;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 0%;
  margin-right: 10px;
  margin-left: 10px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#pagPrevNext {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 5px;
  border: 1px solid silver;
  padding: 5px;
  background-color: #00ccffe5;
  cursor: pointer;
  transition: 0.5s;
  font-family: Posterama Text, sans-serif;
  color: rgba(245, 245, 245, 0.8);
  font-size: 13px;
  font-weight: none;
  letter-spacing: 0.7px;
}

#pagPrevNext:hover {
  background-color: #2e4a7fda;
  color: #00ccffe5;
  border: 1px solid #00ccffe5;
  transition: 0.5s;
}

.consola {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px 20px 0px 20px;
  padding: 10px;
  background: linear-gradient(
    90deg,
    rgba(25, 25, 25, 0.9) 0%,
    rgba(111, 113, 124, 0.9) 20%,
    rgba(111, 113, 124, 0.9) 80%,
    rgba(25, 25, 25, 0.9) 100%
  );
  border-radius: 20px 20px 0px 0px;
  backdrop-filter: blur(1px);
  color: rgba(245, 245, 245, 0.8);
  font-size: 16px;
  font-weight: none;
  letter-spacing: 0.7px;
}

.filtro {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgb(72, 70, 107);
  margin: 20px;
}

.filterHome {
  background-color: #2e4a7fda;
  color: #00ccffe5;
  font-weight: none;
  letter-spacing: 0.7px;
  border-radius: 10px;
  margin: 10px;
  padding: 7px;
  padding-left: 3px;
  padding-right: 3px;
  width: 185px;
  font-family: Posterama Text, sans-serif;
  font-size: 14px;
}

.filterHome option {
  font-family: Posterama Text, sans-serif;
  font-size: 14px;
}

.input {
  background-color: #e2e7f3da;
  color: #262424e5;
  font-size: 13px;
  font-weight: none;
  letter-spacing: 0.7px;
  border-radius: 10px 0px 0px 10px;
  border: none;
  margin: 0px;
  padding: 10px 0px 10px 10px;
  width: 130px;
}
.search {
  background-color: #2e4a7fda;
  color: #00ccffe5;
  font-size: 13px;
  font-weight: none;
  letter-spacing: 0.7px;
  border-radius: 0px 10px 10px 0px;
  border: none;
  margin: 0px;
  padding: 10px 4px 10px 4px;
  cursor: pointer;
  transition: 0.3s;
}
.select {
  font-size: 13px;
  font-weight: none;
  letter-spacing: 0.7px;
}

.search:hover {
  background-color: #00ccffe5;
  color: #2e4a7fda;
  border-radius: 0px 10px 10px 0px;
  border: none;
  margin: 0px;
  padding: 10px 10px 10px 0px;
  cursor: pointer;
  transition: 0.3s;
}

.button {
  background-color: #00ccffe5;
  color: #2e4a7fda;
  font-size: 17px;
  font-weight: none;
  border-radius: 10px;
  border: 1px solid #929191;
  margin: 0px;
  padding: 5px;
  padding-right: 8px;
  padding-left: 8px;
  cursor: pointer;
  transition: 0.5s;
}

.button:hover {
  background-color: #2e4a7fda;
  color: #00ccffe5;
  transition: 0.5s;
}
