.wallpaper {
  background-image: url("../assests/LandingA.jpg");
  background-repeat: repeat;
  background-size: 100%;
  background-position: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.landing {
  color: white;
  width: 80%;
  background: linear-gradient(
    90deg,
    rgba(25, 25, 25, 0.1) 0%,
    rgba(111, 113, 124, 0.3) 35%,
    rgba(111, 113, 124, 0.3) 65%,
    rgba(25, 25, 25, 0.1) 100%
  );
  padding: 30px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.landing h1 {
  font-size: 50px;
  color: hsla(192, 100%, 50%, 0.8);
  opacity: 0.9;
  font-family: Verdana, Arial;
  text-shadow: 0px 0px 26px 5px rgba(4, 67, 103, 0.7);
  margin: 0%;
  text-shadow: rgb(68, 68, 68, 0.5) 1px 1px 0px,
    3px 2px 8px rgba(46, 44, 44, 0.67);
}

.buttonGo {
  background-color: #2e4a7fda;
  color: #00ccffe5;
  font-family: Verdana, Arial;
  font-size: 40px;
  border-radius: 20px;
  border: solid 2px #292839;
  margin: 30px;
  padding: 10px;
  cursor: pointer;
  transition: 0.9s;
  -webkit-box-shadow: 0px 0px 26px 5px rgba(4, 67, 103, 0.46);
  box-shadow: 0px 0px 26px 5px rgba(4, 67, 103, 0.46);
  text-shadow: rgb(68, 68, 68, 0.5) 1px 1px 0px,
    3px 2px 8px rgba(46, 44, 44, 0.67);
  transition: 0.9s;
}

.buttonGo:hover {
  background-color: #00ccffe5;
  color: #2e4a7fda;
  border: solid 1px #43415e;
  font-size: 45px;
  font-weight: bold;
  text-shadow: rgb(68, 68, 68, 0.5) 1px 1px 0px,
    3px 2px 8px rgba(46, 44, 44, 0.67);
  transition: 0.9s;
}

.text {
  font-family: Verdana, Arial;
  font-size: 16px;
  margin: 30px;
  color: silver;
}
