.containerLoading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.containerLoading img {
  height: 120px;
  width: 120px;
  margin: auto;
  display: block;
}

.containerLoading p {
  padding-top: 30px;
  margin: auto;
  display: block;
}
