.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin: -12px 20px 0px 20px;
  padding: 5px;
  background: rgba(69, 77, 81, 0.899);
  border-radius: 20px;
  backdrop-filter: blur(1px);
}

.menu {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
