.pagination button:not(.active) {
  background-color: transparent;
  border: none;
  padding-left: 10px;
  color: white;
}

.pagination ul {
  margin-left: -20px;
}

.active {
  background-color: rgb(243, 213, 19);
  padding: 5px;
  align-self: center;
  border-radius: 5px;
  color: white;
}

#pag {
  cursor: pointer;
}
