.base {
  background-image: url("../assests/LandingA.jpg");
  background-size: 100%;
  background-position: 100%;
  background-position: center;
  background-repeat: repeat;
  backdrop-filter: blur(20px);
  backdrop-filter: sepia(10%);
}
